.root {

}

.form {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.input {
    max-width: 378px;
}

.resetButton {
    margin-left: 68px;
}

.circles {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;

    margin-top: 22px;
}
