.root {

}

.form {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.input {
    max-width: 378px;
}

.circles {
    display: flex;
    justify-content: center;
    row-gap: 48px;
    column-gap: 16px;
    flex-wrap: wrap;

    margin-top: 48px;
}
